blockquote {
  padding-left: 1rem;
  border-left: 5px solid #eee;
}

// Existed in the old site. Definitely required for spacing text on the home page. Maybe useful elsewhere
h1, h2, h3, h4, h5, h6 {
  margin-top: 1.5rem;
}

@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400|Raleway:200,300,400,500,700);
