// These colors are then used by other variables and therefore must be loaded before the bootstrap default variables.
$navbar-light-icon-color: #b6c9d3;
$navbar-light-toggler-border-color: #b6c9d3;
$primary: #2d6e96;
$secondary: #ddd;
$body-color: #425a70;

$variable-prefix: osm-;
